---
import RestaurantCard from "./RestaurantCard.astro";
import DropdownList from "./DropdownList.astro";
---

<section class="text-gray-600 body-font bg-white">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col items-center justify-center text-center w-full mb-20">
        <h1 class="text-2xl font-medium title-font mb-4 text-gray-900">Explore our vast array of restaurants! </h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base mb-12">(Put whatever text you want I had no patience to think of nicer text xD)</p>
        <DropdownList />
      </div>

      <div class="flex justify-center flex-wrap -m-4">
        
        <RestaurantCard />
        <RestaurantCard />
        <RestaurantCard />
        <RestaurantCard />
        

        <RestaurantCard />
        <RestaurantCard />
        <RestaurantCard />
        <RestaurantCard />

        <RestaurantCard />
        


      </div>
    </div>
  </section>