

<div class="p-4 lg:w-1/4 md:w-1/2 flex-col">

    
        <img alt="team" class="flex-shrink-0 rounded-tl-2xl rounded-tr-2xl w-full h-56 object-cover object-center mb-0" src="https://lh3.googleusercontent.com/p/AF1QipNB42Jot-yhNeAwMpYHnkctuc7FuKTh_KZIQZld=s1360-w1360-h1020">
        <div class="flex justify-between bg-white gap-10 border rounded-bl-2xl rounded-br-2xl">
    
            <div class="flex items-center text-left">
                <div class="w-full p-4">
                    <h2 class="title-font font-medium text-lg text-gray-900">The Bangalore Cafe</h2>
                    <h3 class="text-gray-500 mb-3">North Indian, Continental</h3>
                    <p class="mb-4">Shanti Nagar, Bengaluru</p> 
                </div>
            </div>
            <div class="flex-col p-4">
                <div class="flex items-center ">
                    <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <p class="ms-2 text-sm font-bold text-gray-900">4.95</p>
                </div>

                <div class="my-3 text-sm font-medium text-gray-900 underline hover:no-underline">7 reviews</div>
                <div class="ml-10 mt-6">
                    <a href="/restaurant-1">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>  
        </div>
    


</div>

