

<div class="p-4 flex-col w-96 sm:w-full lg:w-1/2 xl:w-1/2 2xl:w-1/3">

    
    <img alt="team" class="flex-shrink-0 rounded-tl-2xl rounded-tr-2xl w-full h-56 object-cover object-center mb-0" src="https://lh3.googleusercontent.com/p/AF1QipNB42Jot-yhNeAwMpYHnkctuc7FuKTh_KZIQZld=s1360-w1360-h1020">
    

<div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow">
    <div class="flex items-center justify-between mb-4 gap-4">
        <h5 class="text-xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl 2xl:text-3xl font-bold leading-none text-gray-900">The Bangalore Cafe</h5>
        <div class="whitespace-nowrap sm:mt-6 2xl:mt-0">
            <div class="flex items-center justify-end">
                <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 18H2V7H16M16 2H15V0H13V2H5V0H3V2H2C0.89 2 0 2.9 0 4V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H16C16.5304 20 17.0391 19.7893 17.4142 19.4142C17.7893 19.0391 18 18.5304 18 18V4C18 3.46957 17.7893 2.96086 17.4142 2.58579C17.0391 2.21071 16.5304 2 16 2ZM13.53 10.06L12.47 9L7.59 13.88L5.47 11.76L4.41 12.82L7.59 16L13.53 10.06Z" fill="#475569"/>
                    </svg>
                    
                <p class="ms-2 text-sm sm:text-lg lg:text-sm xl:text-lg font-semibold text-gray-600">07 July, 1:00 PM</p>
            </div>
            
            <p class=" flex items-center justify-end text-sm sm:text-lg lg:text-sm xl:text-xl text-gray-500">4 days to go</p>
        </div>
   </div>
   <div class="flow-root">
        <ul role="list" class="">
            <li class="">
                <div class="flex items-center">
                    
                    <div class="flex-1 min-w-0 ">
                        
                            <h3 class="text-gray-600 text-md sm:text-2xl lg:text-xl xl:text-2xl 2xl:text-xl flex items-center">North Indian, Continental, Chinese&nbsp;</h3>
                        
                   
                    </div>
                    <div class="flex items-center justify-end">
                        <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 13.0001V15.0001H0V13.0001C0 13.0001 0 9.00005 7 9.00005C14 9.00005 14 13.0001 14 13.0001ZM10.5 3.50005C10.5 2.80782 10.2947 2.13113 9.91014 1.55556C9.52556 0.979985 8.97893 0.531381 8.33939 0.266474C7.69985 0.00156766 6.99612 -0.067744 6.31718 0.0673043C5.63825 0.202353 5.01461 0.535695 4.52513 1.02518C4.03564 1.51466 3.7023 2.1383 3.56725 2.81724C3.4322 3.49617 3.50152 4.1999 3.76642 4.83944C4.03133 5.47899 4.47993 6.02561 5.0555 6.4102C5.63108 6.79478 6.30777 7.00005 7 7.00005C7.92826 7.00005 8.8185 6.6313 9.47487 5.97493C10.1313 5.31855 10.5 4.42831 10.5 3.50005ZM13.94 9.00005C14.5547 9.4758 15.0578 10.0805 15.4137 10.7716C15.7696 11.4626 15.9697 12.2233 16 13.0001V15.0001H20V13.0001C20 13.0001 20 9.37005 13.94 9.00005ZM13 5.2579e-05C12.3117 -0.00378014 11.6385 0.202008 11.07 0.590053C11.6774 1.43879 12.0041 2.45634 12.0041 3.50005C12.0041 4.54377 11.6774 5.56132 11.07 6.41005C11.6385 6.7981 12.3117 7.00389 13 7.00005C13.9283 7.00005 14.8185 6.6313 15.4749 5.97493C16.1313 5.31855 16.5 4.42831 16.5 3.50005C16.5 2.57179 16.1313 1.68156 15.4749 1.02518C14.8185 0.368802 13.9283 5.2579e-05 13 5.2579e-05Z" fill="#475569"/>
                        </svg>
                            
                            
                        <p class="ms-2 text-md my-3 flex items-start whitespace-nowrap font-semibold text-gray-600">2 Guests</p>
                    </div>
                </div>
            </li>

            <li class="sm:py-4">
                <div class="flex items-start">
                    
                    <div class="flex-1 min-w-0 ">
                        
                            
                        
                            <p class="text-sm sm:text-lg flex items-center text-gray-500">Shanti Nagar, Bengaluru</p>
                    </div>
                    <div class="flex-col justify-center">
                        <div class="rounded-3xl flex items-center gap-2">
                            <svg class="w-4 h-4 flex" viewBox="0 0 42 43" fill="#16a34a" xmlns="http://www.w3.org/2000/svg">
                              <path d="M21 0C9.45 0 0 9.675 0 21.5C0 33.325 9.45 43 21 43C32.55 43 42 33.325 42 21.5C42 9.675 32.55 0 21 0ZM16.8 32.25L6.3 21.5L9.261 18.4685L16.8 26.1655L32.739 9.847L35.7 12.9L16.8 32.25Z" />
                            </svg>
                            <p> Confirmed </p>
                        </div>
                            <!-- <p class="text-blue-500 text-right">12/04/2024</p> -->
                    </div>   
                </div>
            </li>

            <!-- Just Text (if you want the text to be at the the left instead, replace text-right with text-left)-->
            <a class="mt-4 font-semibold sm:mt-0 flex justify-center sm:justify-end text-red-400" href="#">Click here to cancel</a>

            <!-- Button (user whatever you want) -->
             <!-- <button class="text-red-400 rounded-3xl p-3 border border-red-400 hover:text-white hover:bg-red-400">
                Click here to cancel
             </button> -->
            
        </ul>
   </div>
</div>




</div>



