---
import TimeSlot from "./TimeSlot.astro";
---

<div class="grid grid-cols-4 gap-4 pt-8 pl-16">
    <TimeSlot time="10:00 AM"/>
    <TimeSlot time="11:00 AM"/>

    <TimeSlot time="12:00 PM"/>
    <TimeSlot time="1:00 PM"/>

    <TimeSlot time="2:00 PM"/>
    <TimeSlot time="3:00 PM"/>

    <TimeSlot time="4:00 PM"/>
    <TimeSlot time="5:00 PM"/>

    <TimeSlot time="6:00 PM"/>
    <TimeSlot time="7:00 PM"/>

    <TimeSlot time="8:00 PM"/>
    <TimeSlot time="9:00 PM"/>

    <TimeSlot time="10:00 PM"/>
    <TimeSlot time="11:00 PM"/>
</div>